* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, .container {
	height: 100%;
	min-height: 100%;
}

#search-buttons .searchbtn {
	margin-right: 5px;
	margin-bottom: 3px;
	padding-right: 5px;
}

#toggle-all {
	float:right;
	padding: 2px;
}

.gif {
	height: 100%;
	width: 100%;
}

button .close {
	visibility: hidden;
	position: relative;
	left:5px;
	bottom:10px;
	display: inline-block;
    background:#ccc;
    margin:0;
    padding: 0px 2px 2px 2px;
    font-size: 7px;
}

.searchbtn:hover .close {
	visibility: visible; 
	background-color: red;
	color: white;
}